:root{
    --primary-color: #3fb4a7;
    --dark: #555;
    --light: #ccc;
    --light-darker: #cdcdcd;
}
.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    font-size: 14px;
    opacity: 1; /* Firefox */
    letter-spacing: .7px;
}
.menu {
    height: 580px;
}
.headshot-sm{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--light);
    display: block;
}

.headshot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--light);
    display: block;
}

.myList {
    list-style: none;
    padding: 10px 0;
}

.myList a {
    text-decoration: none;
    letter-spacing: .5px;
    color: var(--dark);
}

.headshot-big {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--light);
    display: block;
    margin: 0 auto;
}

.border-left {
    border-left: 1px solid var(--light);
}

.status a{
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--dark);
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--light-darker);
}
.status a:hover{
    color: var(--primary-color);
}
.status a.active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.btn-outline-success{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-success:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.card .sellerName{
    font-size: 15px;
    color: var(--dark);
}
.card .orderStatus{
    font-size: 15px;
    color: var(--primary-color);
}
.card .storePhoto{
    width: 120px;
    height: 100px;
    border: 1px solid var(--light);
    border-radius: 5px;
    display: inline-block;
}
.card .buyNum{
    width: 80px;
    color: var(--primary-color);
}
.card .buyNumPrice{
    width: 80px;
    color: var(--primary-color);
}